body {
   background-color: #fff;
}

html, body {
   height: 100%;
}

.holder {
   min-height: 100%;
   position: relative;
}

.navbar-fixed-top {
   position: static;
}

.navbar .nav > li:last-child > a {
   padding-right: 0;
   padding-left: 0;
}

a {
   color: #c40F70;
}

a:hover {
   text-decoration: none;
   color: #555;
}

.sidebar ul {
   list-style-type: none;
   margin: 50px 0 0 5px;
}

.sidebar li {
   margin-bottom: 15px;
   border: 1px solid #e1e1e1;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   -moz-box-shadow: -1px -1px 5px #a1a1a1;
   -webkit-box-shadow: -1px -1px 5px #a1a1a1;
   box-shadow: -1px -1px 5px #a1a1a1;
   padding: 5px 0;
   text-align: center;
}

.sidebar li a {
   font-family: 'Milonga', cursive;
   font-size: 18px;
}

.index .events {
   border: 1px solid #c40F70;
   float: right;
   background-color: #fff;
}

.index .events h2 {
   font-size: 18px;
   font-family: 'Milonga', cursive;
   background-color: #c40F70;
   color: #fff;
   text-align: center;
   font-weight: normal;
   margin: 0;
}

.index .event {
   border-bottom: 1px solid #cacaca;
   margin-top: 10px;
}

.index .event a,
.index .event p {
   margin-left: 5px;
   margin-right: 5px;
}

.index .events p.view-all {
   font-family: 'Milonga', cursive;
   font-size: 16px;
   text-align: center;
   margin-top: 10px;
}

.holder footer {
    width:100%;
    position: absolute;
    bottom: 0; 
}

.holder footer .news {
   background-color: #c40F70;
   padding: 60px 30px 25px 10px;
   position: absolute;
   bottom: 0;
   border-top-right-radius: 250px;
   text-align: center;
} 

.holder footer .news a {
   font-family: 'Milonga', cursive;
   color: #fff;
   font-size: 16px;
}

.holder footer .news a:hover {
   text-decoration: underline;
}

@media (min-width: 1200px) {
   .index .span7 {
      width: 670px;
      margin-left: 60px;
   }
}

@media only screen and (orientation : portrait) and (min-width: 767px) {
   .index .span7 {
      width: 700px;
      margin-left: 40px;
      margin-top: 30px;
   }

   .index .span3 {
      width: auto;
   }
}

@media (max-width: 979px) and (min-width: 768px) {
   .navbar {
      width: 724px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
   }

   .sidebar li a {
      font-size: 16px;
   }

   .index .span7 {
      width: 470px;
      margin-left: 70px;
   }

   .index .span3 {
      width: auto;
   }

   .index .span3 .event {
      padding-bottom: 10px;
   }

   .index .span3 .event a,
   .index .span3 .event p {
     display: inline;
   }
}

@media (max-width: 767px) {
   .navbar {
      padding: 0 20px 0 10px;
   }

   .sidebar ul {
      margin-top: 0;
   }

   .holder footer {
      position: relative;
   }

   .holder footer .news {
      margin-left: -20px;
   }

   .index .span3 {
      width: auto;
   }

   .index .span3 .event {
      padding-bottom: 10px;
   }

   .index .span3 .event a,
   .index .span3 .event p {
     display: inline;
   }
}

@media (max-width: 480px) {
   a.brand img {
      width: 230px;
   }

   .index .span3 .event {
      padding-bottom: 0;
   }

   .index .span3 .event a,
   .index .span3 .event p {
     display: block;
   }

   .holder footer .news {
      padding: 50px 20px 20px 10px;
} 

   .holder footer .news a {
      font-size: 14px;
   }
}

