body {
   background-color: #fff;
}

html, body {
   height: 100%;
}

.holder {
   min-height: 100%;
   position: relative;
}

.navbar-fixed-top {
   position: static;
}

.navbar .nav > li:last-child > a {
   padding-right: 0;
   padding-left: 0;
}

a {
   color: #c60e72;
}

a:hover {
   text-decoration: none;
   color: #555;
}

p,
span {
   font-family: Arial, Helvetica, sans-serif;
   color: #555;
}

.sidebar ul {
   list-style-type: none;
   margin: 50px 0 0 0;
}

.sidebar li {
   margin-bottom: 15px;
   border: 1px solid #e1e1e1;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   -moz-box-shadow: -1px -1px 5px #a1a1a1;
   -webkit-box-shadow: -1px -1px 5px #a1a1a1;
   box-shadow: -1px -1px 5px #a1a1a1;
   padding: 5px 0;
   text-align: center;
}

.sidebar li a {
   font-family: 'Milonga', cursive;
   font-size: 18px;
}

.sidebar li a.active {
   color: #555;
}

.index .notification {
   border: 1px solid #bb3a77;
   float: right;
   background-color: #fff;
}

.index .notification h2 {
   font-size: 18px;
   font-family: 'Milonga', cursive;
   background-color: #c60e72;
   color: #fff;
   text-align: center;
   font-weight: normal;
   margin: 0;
}

.index .notification .event {
   border-bottom: 1px solid #cacaca;
   margin-top: 10px;
}

.index .notification .event a,
.index .notification .event p {
   margin-left: 5px;
   margin-right: 5px;
}

.index .notification p.view-all {
   font-family: 'Milonga', cursive;
   font-size: 16px;
   text-align: center;
   margin-top: 10px;
}

.holder footer {
    width:100%;
    position: absolute;
    bottom: 0; 
}

.holder footer .news {
   background-color: #c60e72;
   padding: 60px 30px 25px 10px;
   position: absolute;
   bottom: 0;
   border-top-right-radius: 250px;
   text-align: center;
} 

.holder footer .news a {
   font-family: 'Milonga', cursive;
   color: #fff;
   font-size: 16px;
}

.holder footer .news a:hover {
   text-decoration: underline;
}

.about .span10 {
   margin: 42px 0 30px 20px;
}

.about .span10 img {
   float: left;
   margin: 0 20px 10px 0;
}

.about .span10 span {
   margin-bottom: 20px;
}

.about .span4 {
   margin-bottom: 20px;
}

.about .musician {
   margin-left: 0;
}

.about .name {
   margin-top: 50px;
}

.about .inside {
   margin-left: 0;
}

.about footer, 
.events footer {
   background-color: #c60e72;
   text-align: center;
   padding: 10px 20px;
   margin-top: 20px;
}

.about footer span,
.events footer span {
   color: #fff;
   margin-right: 20px;
}

.events .span10 {
   margin: 30px 0 0 20px;
   border-bottom: 1px solid #d7d7d7;
   padding-bottom: 30px;
}

.events .top {
   margin-top: 40px;
}

.events .span10:last-child {
   border-bottom: none;
}

.events .span10 .span7 {
   margin-left: 0;
}

.events .span7 h1 {
   font-size: 18px;
   font-family: 'Milonga', cursive;
   color: #c60e72;
   font-weight: normal;
   margin: 0;
}

.events .span7 h2 {
   font-size: 16px;
   font-weight: normal;
   color: #555;
   font-family: Arial, Helvetica, sans-serif;
   margin-top: 0;
}

.events .span7 a {
   color: #3b5998;
}

.events .span7 a:hover {
   text-decoration: underline;
}

.events .span3 img {
   margin-top: 12px;
}

@media (min-width: 1290px) {
   .index .span7 {
      width: 670px;
      margin-left: 60px;
   }
}

@media only screen and (orientation : portrait) and (min-width: 767px) {
   .index .span7 {
      width: 700px;
      margin-left: 40px;
      margin-top: 30px;
   }

   .index .span3 {
      width: auto;
   }
}

@media (max-width: 979px) {
   .navbar .brand {
      padding-left: 5px;
   }

    .about footer span.last,
    .events footer span.last {
      display: block;
   }
}

@media (max-width: 979px) and (min-width: 768px) {
   .navbar {
      width: 724px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
   }

   .sidebar li a {
      font-size: 16px;
   }

   .index .span7 {
      width: 470px;
      margin-left: 70px;
   }

   .index .span3 {
      width: auto;
   }

   .index .span3 .event {
      padding-bottom: 10px;
   }

   .index .span3 .event a,
   .index .span3 .event p {
     display: inline;
   }

   .about .span10 img {
      width: 300px;
   }

   .about .inside {
      margin-bottom: 10px;
   }

   .about .name {
      margin-top: 10px;
      height: 110px;
   }
}

@media (max-width: 767px) {
   .navbar {
      padding: 0 20px 0 20px;
   }

   .sidebar ul {
      margin-top: 0;
   }

   .holder footer {
      position: relative;
   }

   .holder footer .news {
      margin-left: -20px;
   }

   .index .span3 {
      width: auto;
   }

   .index .span3 .event {
      padding-bottom: 10px;
   }

   .index .span3 .event a,
   .index .span3 .event p {
     display: inline;
   }

   .about .span10 {
      margin-left: 0;
   }

   .about .inside .span2 {
      width: 50%;
   }

   .about .inside .musician {
      text-align: center;
   }

   .about .span2 img {
      width: 160px;
   }

   .about .name {
      margin-top: -100px;
      float: right;
   }

   .about footer,
   .events footer {
      margin: 20px -20px 0 -20px;
   }

   .events .span10 {
      margin-left: 0;
   }

   .events .span3 img {
      max-width: 250px;
   }
}

@media (max-width: 690px) {
   .about .span10 img {
      float: none;
      display: block;
      margin: 0 auto 10px;
   }
}

@media (max-width: 588px) {
   .about footer span,
   .events footer span {
      display: block;
   }
}

@media (max-width: 480px) {
   a.brand img {
      width: 230px;
   }

   .index .span3 .event {
      padding-bottom: 0;
   }

   .index .span3 .event a,
   .index .span3 .event p {
     display: block;
   }

   .holder footer .news {
      padding: 50px 20px 20px 10px;
} 

   .holder footer .news a {
      font-size: 14px;
   }

   .about .name p {
      margin-left: 10px;
   }

}

